@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');

.about-header {
    background: url('../assets/background.jpg');
    background-size: cover;
    height: 100px;
}
.judul-about {
    border-top:  1px solid rgb(144, 159, 232); ;
    color: rgb(144, 159, 232);
    border-bottom: 1px solid rgb(144, 159, 232);
    background: rgba(2, 0, 36, 100);
}
.judul-about h4 {
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 5px;
}
.profile-about {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 12%, rgba(122,140,111,1) 100%, rgba(0,212,255,1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
}
.profile-about img {
    width: 150px;
    height: 150px;
    border-radius: 15px 0 15px 0;
    left: 2%;
    z-index: 1;
    top: -120px;
    position: relative;
    border: 1px solid rgb(144, 159, 232);;
}

/* Card Section */
.cards {
    display: flex;
    flex-direction: row;
}
.card-1 {
    /* width: 50%; */
    top: 60px;
    left: 20px;
    position: relative;
}
.card {
    margin: 0 5px;
    width: 31%;
    top: 60px;
    left: 20px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: bluer(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0blue, 0.37);
}
.card img {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-link {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.card a {
    text-align: center;
    color: rgb(144, 159, 232);
    font-family: 'Alumni Sans', sans-serif;
    width: 50%;
    /* background-color: blue; */
    background: rgb(2,0,36);
    background: rgb(2,0,36);
background: linear-gradient(94deg, rgba(2,0,36,1) 42%, rgba(153,59,219,1) 100%, rgba(0,212,255,1) 100%);
    /* background: linear-gradient(94deg, rgba(2,0,36,1) 12%, rgba(122,140,111,1) 100%, rgba(0,212,255,1) 100%); */
    margin-right: 2px;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    /* border: 1px solid rgb(149, 163, 237); */
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.footer {
    font-family: 'Alumni Sans', sans-serif;
    margin-top: 100px;
    position: relative;
    text-align: center;
    padding: 20px;
}

@media (max-width:768px) {
    
    .card img {
        margin: 0;
        /* width: 100%; */
        height: 130px;
    }
    .card {
        width: 30%;
    }
}

/* @media (max-width:768px) {
    .cards {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
   
} */
@media (max-width:576px) {
    .card img {
        margin: 0;
        /* width: 100%; */
        height: 100px;
    }
}
@media (max-width:550px) {
    .cards {
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .card {
        width: 87%;
        margin-bottom: 10px;
    }
    .card img {
        margin: 0;
        /* width: 100%; */
        height: 200px;
    }
}